/vendor/
composer.lock

.env
.env.backup
.env.local

/storage/*.key
*.log
/tmp/

/.phpunit.result.cache
/build/
/coverage/
/.php-cs-fixer.cache
/.pest/

/.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db
